.body{
text-align: center;
}
/*ayuda a centrar el formulario en la pagina*/
.content{
    display: grid;
    place-items: center;
}
/*estilos del formulario*/
.contenedor{
    text-align: center;
    justify-content: center;
    position: relative;
    top: 200px;
    background-color: black;
    width: 30%;
    height: 110%;
    border-radius: 20px;
    border: 2px solid #fff;
    box-shadow: 5px, 5px 5px rgb (#ffffff,#ffffff,#fff, 0.5);

}
/*efecto hover para el formulario*/
.contenedor:hover{
    
    transition: 0.5s;
    border: 2px solid black; 
}
/*estilos de los inputs del formulario*/
.formulario{
    color: white;
    font-family: 'Times New Roman', Times, serif;

}
/*estilos de los inputs del formulario individuales*/
.Nombre{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
}

.ID{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
}

.anios{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
}
.Ubicacion{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
}
.Contacto{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
}
.correo{
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    width: 50%;
}
/*estilos del botón*/
.btn{
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 50%;
    height: 30px;
    border: 2px solid #fff;
    
}
.btn:hover{
    transition:0.5s;
    background-color: rgb(255, 255,255);
    color :black
    
}